body{
    margin:0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:300;
  	font-size:16px;
	background: url('../img/bg_content.png') fixed no-repeat top center/100% auto;
}
/*+++++++*/
/*headers*/
/*+++++++*/
h1,h2,h3,h4,h5,h6{
}
h1{
	color:#069ac5;
	font-weight:600;
	font-size:50px;
}
h2{
	font-weight:300;
	font-size:40px;
	margin-bottom:0px;
	margin-top:0px;
}

#content .row{
	margin-top:20px;
	margin-bottom:20px;
}
canvas{
	background-color:white;
}
button{
	height:37px;
	border:1px solid black;
	padding:0px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:white;
}
input:focus, textarea:focus, select:focus, button:focus{
        outline: none;
}
button:hover{
	background-color:#e7dc00;
}

button:hover > input{
	background-color:#e7dc00;
}

.btn_group button{
	border-right:none;
	
}
.btn_group button{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn_group button:first-child{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
}
.btn_group button:last-child{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right:1px solid black
}
.btn_input{
	padding:0 10px;
	
}
.btn_input input{
	border:0;
	margin:0 5px;
	padding:0;
	height:35px;
	color:gray;
	text-align:center;
}

.btn_icon{
	padding:0;
	margin:0;
	background-color:transparent;
	line-height:0;
	border:0;
}
.btn_icon img{
	height:100%;
	width:100%;
}
#btn_edit{
	height:25px;
	width:25px;
	margin-left:20px;
}

.icon_sm{
	width:20px;
	height:20px;
	margin-right:20px;
}
.font_md{
	font-size:25px;
}
.font_xs{
	font-size:15px;
}
.icon_md{
	width:30px;
	height:30px;
	margin-right:20px;
}
#online_dot{
	display:inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:20px;
	height:20px;
	background-color:#34cc34;
	margin-right:20px;
}

.content_box{
	width:100%;
	min-height:300px;
	border:2px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:white;
	padding:15px 20px;
	position:relative;
}
.content_box_withinfo{
	padding-bottom:50px;
}
.bottom_info{
	position:absolute;
	bottom:0;
	padding:15px 0;
	width:100%;
}
.bottom_info_grp{
	margin:0 30px;
}
.bottom_info_grp:first-child{
	margin-left:0;
}
.bottom_info_grp:last-child{
	margin-right:0;
}
.bottom_info .v_center{
	justify-content:center;
}
.bottom_info .v_center .icon_sm{
	margin-right:5px;
}
#graph1.content_box{
	border-color:#ff4893;
}
#graph2.content_box{
	border-color:#069ac5;	
}

.v_center{
	display:flex;
	align-items:center;
}


#data .v_center{
	margin:10px 0;
}


/*tables*/
table{
	width:100%;
	text-align:center;
}
td{
	padding:5px 0;
}
tr:nth-child(even){
	background: #E6E6E6;
}
tr:nth-child(odd){
	background: white;
}

/*+++++*/
/*links*/
/*+++++*/
a:link {text-decoration:none; color:#069ac5; outline: 0;}
a:visited {text-decoration:none;color:#069ac5; outline: 0;}
a:hover {text-decoration:none;color:#e10380; outline: 0;}
a:active {text-decoration:none;color:#069ac5; outline: 0;}
a:focus {text-decoration:none;color:#069ac5; outline: 0;}
a{
    transition: color ease .3s;
}



/*+++++++++++++*/
/*media queries*/
/*+++++++++++++*/
/*mobile*/
@media only screen and (max-width: 500px){

   
}

/*tablet*/
@media only screen and (min-width: 501px) and (max-width: 960px){

    
}




/*forms*/
label{
	font-weight:300;
}
input[type=radio]{
	margin:15px 15px 15px 0;
}
textarea { resize: vertical; }
input[type=text], input[type=email], textarea{
	border:1px solid #069ac5;
	padding:10px 15px;
	margin:15px 0;
	background-color:white;
	-moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
	color:black;
}
input[type=number]{
	border:1px solid #c1b402;
	padding:10px 5px 10px 15px;
	margin:15px 0;
	background-color:transparent;
	-moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
	color:black;
}

.border_pink input[type=text], .border_pink input[type=email], .border_pink textarea, .border_pink input[type=number]{
	border:1px solid #e10a80;
	background-color:transparent;
}

input[type=text], input[type=submit], input[type=email],  textarea{
	width:100%;
}

::-webkit-input-placeholder {
  color:black;
}
:-ms-input-placeholder {
  color:black;
}
::-moz-placeholder {
  color:black;
  opacity: 1;
}
:-moz-placeholder {
  color:black;
  opacity: 1;
}

.border_pink ::-webkit-input-placeholder { /* Chrome */
  color:#e10a80;
}
.border_pink :-ms-input-placeholder { /* IE 10+ */
  color:#e10a80;
}
.border_pink ::-moz-placeholder { /* Firefox 19+ */
  color:#e10a80;
  opacity: 1;
}
.border_pink :-moz-placeholder { /* Firefox 4 - 18 */
  color:#e10a80;
  opacity: 1;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus{
  	-webkit-box-shadow:0 0 0 #017f54;
  	-moz-box-shadow:0 0 0 #017f54;
  	box-shadow:0 0 0 #017f54;
  	outline: none;
	background-color:#f2f2f2;	
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus, input[type=number]:focus{
  	-webkit-box-shadow:0 0 0 #017f54;
  	-moz-box-shadow:0 0 0 #017f54;
  	box-shadow:0 0 0 #017f54;
  	outline: none;
	background-color:#f2f2f2;	
}




input[type=submit]{
	background-color:transparent;
	border:1px solid #c1b402;
	padding:10px 25px;	
	margin:0 0 15px 0;
	width:auto;
	-moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
	font-size:15px;
}
.border_pink input[type=submit]{
	border:1px solid #e10a80;
}

input[type=submit]:hover{
  	background-color:#c1b402;
}
input[type=submit]:focus{
	background-color:#c1b402;
  	-webkit-box-shadow:0 0 0 #017f54;
  	-moz-box-shadow:0 0 0 #017f54;
  	box-shadow:0 0 0 #017f54;
  	outline: none;
}

.border_pink input[type=submit]:hover{
	background-color:#e10a80;
}
.border_pink input[type=submit]:focus{
	background-color:#e10a80;
}

/*select input*/


#sidebar_box_kontakt input[type=text], #sidebar_box_kontakt input[type=submit], #sidebar_box_kontakt input[type=email], #sidebar_box_kontakt textarea{
	width:100%;
	margin:10px 0;
}

#sidebar_box_kontakt #submit_box{
	margin:0;
}
#sidebar_box_kontakt #submit_box img{
	width:60px;
}

#sidebar_mail{
	margin-top: 30px;
}
#sidebar_mail i{
	font-size:20px;
	margin-right:20px;
	margin-bottom:-3px;
}

select{
	margin:10px 0;
    display: block;
    padding: 10px 15px;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    border: 1px solid #e10a80;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23e31c79%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: #888;
}
select:focus {
    border-color: #aaa;
  	-webkit-box-shadow:0 0 0 #017f54;
  	-moz-box-shadow:0 0 0 #017f54;
  	box-shadow:0 0 0 #017f54;
  	outline: none;
    color: #222; 
    outline: none;
}
select option {
    font-weight:normal;
}



/* Customize the label (the container) */
.community_checkbox {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  margin-bottom:20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.community_checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.community_checkbox .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #069ac5;
}

/* When the checkbox is checked, add a blue background */
.community_checkbox input:checked ~ .checkmark {
  
}

/* Create the checkmark/indicator (hidden when not checked) */
.community_checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.community_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.community_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*radio-buttons*/
/* Customize the label (the container) */
.rb_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top:18px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rb_container p{
	margin-top:8px;
}

/* Hide the browser's default radio button */
.rb_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.rb_checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rb_container:hover input ~ .rb_checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rb_container input:checked ~ .rb_checkmark {
  background-color: #e10a80;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rb_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rb_container input:checked ~ .rb_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rb_container .rb_checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}









/*smaller checkboxes*/
.community_checkbox_sm {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  margin-right:15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size:15px;
  font-weight:300;
}

/* Hide the browser's default checkbox */
.community_checkbox_sm input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.community_checkbox_sm .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.community_checkbox_sm input:checked ~ .checkmark {
  background-color: #e10a80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.community_checkbox_sm .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.community_checkbox_sm input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.community_checkbox_sm .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


#message_box{
	text-align:center;
	font-size:17px;
}
#sidebar_box_kontakt #message_box{
	text-align:left;
}
.message_box_panel{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	font-size:20px !important;
}
.font_red{
	color:#e73737;
}

.font_pink{
	color:#e10a80;
}

.font_green{
	color:#22b573;
}

input[name="interested"] {
	display: none;
}
#email{
	visibility:hidden;
	height:0;
	width:0;
	margin:0 !important;
	padding:0;
}

.show_when_sm{
	display:none;
}
.show_when_xs{
	display:none;
}

.label_kontakt{
	float:left;
	width:15%;
}
.form_cb_container div{
	float:left;
	width:15%;
	
}

input[type=text], input[type=submit], input[type=email], textarea{
	width:85%;
}


textarea{
	margin-bottom:5px;
}

.form_meta_box{
	margin:0px 0 15px 15%;
}

#sidebar_box_kontakt .form_meta_box{
	margin:0px 0 15px 0px
}

#submit_box{
	text-align:center;
}
#submit_box img{
	width:80px;
	transition: transform .2s;
}
#submit_box img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#submit_box input:hover{
	
}
#hallo_labor{
	position:relative;
}
#hallo_labor_col i{
	font-size:20px;
	margin-right:20px;
	margin-bottom:-3px;
}
#hallo_labor img{
	
	max-width:280px;
}
#hallo_labor p{
	position:absolute;
	font-size:40px;
	top:45px;
	margin-left:-80px;
	display:inline-block;
	text-align:left;
}
#kontakt_plane_icon{
	height:15px;
	width:auto;
	margin-right:15px;
	margin-top:-3px;
}
#footer{
	background: url('../img/footer_bg.png') no-repeat left bottom/auto 280px;
	
	position:relative;
	margin-top:25px;
}
#footer_row{
	margin-top:60px;
	padding-bottom:30px;
}

#footer_row p{
	margin-bottom:50px;
	font-size:20px !important;
}

.form_container{
	display:flex;
	align-items:center;
}




